.env
connected.db
tables.txt
botapi-local/telegram-bot-api
botapi-local/*
./botapi-local/*
botcmd.txt
*.db
*.exe
./connected_sing/*
connected_sing
alltmpl.txt
*.log
sboxlog.log
*.html
*.json
*.yaml
*.pem
cmd/tables
cmd/res
cmd/ssl
cmd/tls
cmd/configs
cmd/bot
cmd/help_paragraph.txt
